@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  line-height: normal;
  padding: 30px 0;
  height: 95vh;
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

button,
input,
p {
  font-size: 1.5rem;
  padding: 10px;
  border-radius: 5px;
}

span {
  font-style: italic;
  color: blue;
}

.todo__list {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.todo__item,
.todo__add {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 30px;
}